body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Arial, Helvetica, sans-serif, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  background-color: rgb(240, 178, 139);
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.compName {
  color: rgb(31, 50, 107);
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 700;
  font-size: 32px;
  margin: 0;
}
.nav {
  background-color:rgb(248, 208, 184);
  height: min-content;
  padding: 10px;
  width: 100vw;
  top: 0;
  position: absolute;
  position: fixed;
  align-items: center;
  display: grid;
  grid-template-columns: 0.7fr 1fr 5fr;
  justify-items: center;
  box-sizing: border-box;
  z-index: 100;
}
a:hover {
  cursor: pointer;
}

.main {
  padding: 110px 150px;
  height: 100vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  background-image: url('./imgs/bgmain.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(255, 255, 255, 0.6);
  background-blend-mode: overlay;
  margin: 0;
}

.btnForm {
  padding: 10px 15px;
  background-color: rgb(31, 50, 107);
  color: rgb(255, 255, 255);
  font-weight: 500;
  font-family: 'Times New Roman', Times, serif;
  font-size: 18px;
  border: none;
  border-radius: 10px;
  margin: 20px;
  transform: scale(1.1);
  cursor: pointer;
  transition: all 0.5s;
}
.btnForm:hover {
  transform: scale(1.2);
  box-shadow: 2.5px 2.5px 0 rgba(31, 50, 107, 0.5);
}
.main .btnForm {
  margin: 100px 10px 10px;
  border: none;
  transform: scale(1.2);
}
.main .btnForm:hover {
  transform: scale(1.3);
}
h1.compName {
  margin: 30px;
  transform: scale(1.5)
}
.opis h2 {
  margin: 0;
  color: rgb(31, 50, 107);
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 700;
  text-align: center;
  font-size: 30px;
}
.opis {
  background-color: rgb(240, 178, 139);
  margin: 0;
  height: max-content;
  padding: 50px 150px;
}

.opis p {
  width: 100%;
  text-align: center;
  color: rgb(100, 100, 100);
}
.opisanie {
  display: grid;
  grid-template-columns: repeat(2, 40%);
  gap: 30px;
  justify-content: center;

}
.opisanie p {
  text-align: left;
  line-height: 24px;
  font-size: 17px;
  color: rgb(70, 70, 70);
}
.imageOpis {
  background-image: url('./imgs/jkforopis.jpg');
  width: 100%;
  aspect-ratio: 16/9;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 0 15px 0;
  border: none;
  border-radius: 15px;
  overflow: hidden;
}
.opisanie .btnForm {
  margin: 30px 10px;
}

.shema {
  background-color: white;
  width: min-content;
  height: min-content;
}

